.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, "Inter-Variable"), sans-serif;
  font-variation-settings: "wght" var(--font-main-wght, 410);
  font-size: var(--main-size-font, 18px);
  background-size: cover;
  background-attachment: fixed;
  background-image: var(
    --page-background,
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%)
  );
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__content {
  border: var(--main-color, rgba(0, 0, 0, 1)) solid 2px;
  background: var(--main-accent-color, #fff);
  min-inline-size: var(--main-inline-div, clamp(375px, 70%, 700px));
  max-block-size: clamp(327px, 55%, 368px);
  padding: clamp(122px, 10%, 130px) clamp(12px, 3%, 122.5px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
}

.header__title {
  font-size: clamp(49px, 43.37px + 1.5vw, 65px);
  font-family: var(--accent-font, "PressStart2P"), fantasy;
}

.header__subtitle {
  font-size: clamp(14px, 10.83px + 0.85vw, 23px);
  margin-top: 18px;
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  text-transform: uppercase;
}

.main__content {
  border: var(--main-color, rgba(0, 0, 0, 1)) solid 2px;
  background: var(--main-accent-color, #fff);
  max-inline-size: var(--main-inline-div, clamp(375px, 70%, 700px));
  max-block-size: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main__content-bg-image-box {
  position: relative;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
  border-bottom: 2px var(--main-color, rgba(0, 0, 0, 1)) solid;
}

.main__content-bg-image-hand-watch {
  filter: contrast(50%);
}

.main__content-bg-image-long-watch {
  filter: blur(1px);
}

.main__content-bg-image-old-watch {
  filter: grayscale(0.8);
}

.main__content-bg-image-red-watch {
  filter: saturate(158%);
}

.main__content-bg-image-retro-watch {
  filter: grayscale(0.2) saturate(158%);
}

.main__content-bg-image-steel-watch {
  filter: invert(0.7);
}

.main__content-bg-image-street-tower-watch {
  filter: sepia(0.8) contrast(0.5) brightness(200%);
}

.main__content-bg-image-hand-watch ~ .main__content-control-card {
  padding: 23px 25px 25px 25px;
}

.main__content-bg-image-long-watch ~ .main__content-control-card {
  padding: 29px 25px 25px 25px;
}

.main__content-bg-image-old-watch ~ .main__content-control-card {
  padding: 29px 25px 25px 25px;
}

.main__content-bg-image-red-watch ~ .main__content-control-card {
  padding: 26px 25px 25px 25px;
}

.main__content-bg-image-retro-watch ~ .main__content-control-card {
  padding: 28px 25px 25px 25px;
}

.main__content-bg-image-steel-watch ~ .main__content-control-card {
  padding: 28px 25px 25px 25px;
}

.main__content-bg-image-street-tower-watch ~ .main__content-control-card {
  padding: 28px 25px 25px 25px;
}

.main__content-bg-image-street-watch ~ .main__content-control-card {
  padding: 50px 25px 25px 25px;
}

.main__content_title {
  font-variation-settings: "wght" var(--font-title-wght, 715);
  padding: 4px 10px;
  font-size: 18px;
  border-bottom: var(--main-color, rgba(0, 0, 0, 1)) solid 2px;
}

.main__content_text {
  padding: 25px 25px 0 25px;
  line-height: 21px;
}

.main__content-control-card {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 38px;
  height: 34px;
  margin-right: 7px;
  transition: outline 0.3s ease;
  outline: 2px solid transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color, rgba(0, 0, 0, 1));
}

.main__content-button {
  background-color: var(--main-accent-color, #fff);
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  position: relative;
  font-size: var(--main-size-font-accent, 14px);
  font-family: var(--accent-font, "PressStart2P"), fantasy;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.main__content-button-save {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 17px 20px;
}

.main__content-button:focus {
  outline: none;
}

.main__content-button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color, rgba(0, 0, 0, 1));
}

.main__content-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color, rgba(0, 0, 0, 1));
  transform: translateX(-100%);
  mix-blend-mode: difference;
  transition: 0.5s ease-in-out;
}

.main__content-button:hover::before {
  transform: translateX(0);
  color: var(--main-accent-color, #fff);
  background-color: var(--main-accent-color, #fff);
}

.main__content-label {
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  position: absolute;
  right: 25px;
  top: 55px;
  color: var(--main-color, rgba(0, 0, 0, 1));
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: var(
    --text-shadow-label,
    -1px -1px 0 var(--main-accent-color),
    1px -1px 0 var(--main-accent-color),
    -1px 1px 0 var(--main-accent-color),
    1px 1px 0 var(--main-accent-color)
  );
}

@supports (
  (text-stroke: 1px var(--main-accent-color, #fff)) or
    (-webkit-text-stroke: 1px var(--main-accent-color, #fff))
) {
  .main__content-label {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--main-accent-color, #fff);
  }
}

.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.main__content_base-offset {
  margin-top: 50px;
}

.end-margin {
  margin-bottom: 100px;
}

.main__content_svg-icon {
  width: 21px;
  height: 21px;
}

.main__content_svg-icon-modal {
  width: 39px;
  height: 39px;
}

.main__content_button-text {
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  font-size: 14px;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

dialog[open] .modal-save__div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.modal-text {
  max-width: 234px;
  line-height: 150%;
}

.button-modal {
  display: block;
  width: 100%;
  padding: 12.5px 0;
  margin-top: 30px;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0);
  opacity: 0.75;
}

dialog {
  border: none;
  padding: 30px;
}

@media (width <= 374px) {
  :root {
    --main-inline-div: clamp(315px, 30%, 375px);
  }

  .header__content {
    padding: 122px 5px;
  }
  .header__title {
    font-size: 35px;
  }
}

@media (width <= 380px) {
  .main__content-button-save {
    flex-direction: column;
  }
  .main__content-bg-image-hand-watch ~ .main__content-control-card {
    padding: 28px 25px 25px 25px;
  }

  .main__content-bg-image-long-watch ~ .main__content-control-card {
    padding: 50px 25px 25px 25px;
  }

  .main__content-bg-image-old-watch ~ .main__content-control-card {
    padding: 29px 25px 25px 25px;
  }

  .main__content-bg-image-red-watch ~ .main__content-control-card {
    padding: 26px 25px 25px 25px;
  }

  .main__content-bg-image-retro-watch ~ .main__content-control-card {
    padding: 28px 25px 25px 25px;
  }

  .main__content-bg-image-steel-watch ~ .main__content-control-card {
    padding: 49px 25px 25px 25px;
  }

  .main__content-bg-image-street-tower-watch ~ .main__content-control-card {
    padding: 48px 25px 25px 25px;
  }

  .main__content-bg-image-street-watch ~ .main__content-control-card {
    padding: 50px 25px 25px 25px;
  }
}

.like-icon {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--contour-color, rgba(0, 0, 0, 1));
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, rgba(0, 0, 0, 1));
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, rgb(255, 0, 0));
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, rgb(255, 0, 0));
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, rgb(255, 0, 0));
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, rgb(255, 0, 0));
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, rgb(255, 0, 0));
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in;
  animation-delay: 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: opacity-heart 0.3s ease-in backwards;
  animation-delay: 0.3s;
}
